$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-disable: #bab6c7;
$color-disable-soft: #e2e0ea;
$color-yellow-logo: #ffd651;
$color-blue-logo: #00639e;
$box-shadow-card: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$color-white: #fff;
$color-fade: rgba(222, 220, 240, 0.399);
$color-card-background: #e2e2e3;
$color-primary-header: #1976d2;
$color-pink: #fd5974;
