@use "../../../styles/base.scss";
@use "../../../styles/media-mixins.scss" as mixins;

.main {
  height: fit-content;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0.5rem 0;
  @include mixins.apply-at-xl-size {
  width: 40%;
  height: 70vh;
  }

  .title {
    font-size: 80px;

    .head {
      font-size: 1.8rem;
      margin: 0.5rem 0;
      @include mixins.apply-at-xl-size {
        font-size: 3.6rem;
        margin: 0.5rem 0;
      }
    }
  }

  .text {
    text-align: justify;
    font-size: 16px;
  }
}
