@use "../base.scss";
@use "../media-mixins.scss" as mixins;

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #0d1b2a;
  color: white;
  z-index: 99;
  @include mixins.apply-at-md-size {
    height: 100px;
  }

  .logo {
    img {
      width: 150px;
    }
  }

  .nav-links {
    display: flex;
    list-style: none;

    li {
      margin: 0 15px;
      height: 46px;
      display: flex;
      justify-content: start;
      align-items: center;

      .a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
          color: #fca311;
        }
      }

      .active {
        color:  #fca311;
      }

      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
          color: #fca311;
        }
      }
    }
  }

  /* Dropdown untuk desktop */
  .dropdown {
    position: relative;

    .nav-item {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      padding: 10px;
      width: 36rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      text-align: start;

      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        img {
          width: 50px;
          height: auto;
          padding-right: 10px;
        }

        a {
          font-size: 12px;
          color: black;
          text-decoration: none;
          text-align: start;
        }
      }
    }

    &:hover .dropdown-menu {
      display: grid;
    }

    &:hover .dropdown-menu:hover {
      .menu {
        transition: background-color 0.3s ease;

        &:nth-child(1):hover {
          background-color: #ccffcd;
          border-radius: 6px;
        }

        &:nth-child(2):hover {
          background-color: #94ff94;
          border-radius: 6px;
        }

        &:nth-child(3):hover {
          background-color: #fffdcc;
          border-radius: 6px;
        }

        &:nth-child(4):hover {
          background-color: #ccd8ff;
          border-radius: 6px;
        }
      }
    }
  }

  /* Styling untuk Accordion */

  /* CTA Button */
  .cta {
    display: none;

    @include mixins.apply-at-xl-size {
      width: fit-content;
      .toolbar {
        display: flex;
        flex-direction: row;

        .toggle {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          gap: 6px;

          .avatar {
            width: 1.2rem;
            height: 1.2rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-right: 0.5rem;
          }

          .lang {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
      }

      display: block;
    }
  }

  /* Burger Menu */
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
      width: 30px;
      height: 4px;
      background-color: white;
      margin: 3px 0;
      transition: transform 0.3s ease-in-out;
    }

    .bar-active {
      background-color: #fca311;
    }
  }

  /* Responsive Design */
  @include mixins.apply-at-md-size {
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #0d1b2a;
      padding: 15px 0;
      text-align: start;
      height: fit-content;
      gap: 10px;
      height: fit-content;
      
    }

    .nav-active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .burger {
      display: flex;
    }
  }

  @include mixins.apply-at-xs-size {
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #0d1b2a;
      padding: 15px 0;
      text-align: start;
      height: fit-content;
      gap: 10px;
      height: fit-content;
      
    }

    .nav-active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .burger {
      display: flex;
    }
  }

  @include mixins.apply-at-xl-size {
    .nav-links {
      display: flex;
      position: static;
      flex-direction: row;
      background: none;
      width: auto;
      padding: 0;
    }

    .burger {
      display: none;
    }
  }

  .tag-line {
    height: 50px;
  }
}
