@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  font-family: "Poppins", sans-serif;
  @apply bg-white dark:bg-gray-950;
  background-color: #0d1b2a;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
